@font-face {
    font-family: 'Lato Heavy';
    src: url('../fonts/Lato/Lato-Heavy.eot');
    src: url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato/Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato/Lato-Bold.eot');
    src: url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato/Lato-Medium.eot');
    src: url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Medium.woff') format('woff'),
    url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   