//  Table of Contents:
//
//   1. Global
//   2. Grid breakpoints
//   3. Base Typography
//   4. Typography Helpers
//   5. Abide
//   6. Accordion
//   7. Accordion Menu
//   8. ...
// 1. Global
// ---------

/*!
 * Primary color settings
 */
$main-green: #47dfac;
$green: #19d77a;
$blue-light: #40b4dc;
$blue-dark: #0c202f;
$text-color: #343f4f;
$red: #fe5266;
$black: #000;
$white: #fff;
$grey-x-light: #f1f1f1;
$grey-light: #d2d2d2;
$grey-medium: #8c8c8c;
$grey-dark: #5a5a5a;
$grey-form: #c8c8c8;
$grey: #fefefe;
$theme-color: $main-green;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1140px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

//Typo

// ---------
// Font Family
$lato_regular: "Lato Regular", sans-serif;
$lato_medium: "Lato Medium", sans-serif;
$lato_bold: "Lato Bold", sans-serif;
$lato_heavy: "Lato Heavy", sans-serif;


body {
  font-family: $lato_regular;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background: $grey;
  color: $text-color;
/*   @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
} */
}

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}

a {
  color: $text-color;
  @include transition(0.3s);
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: $theme-color;
}
h1 {
  color: #343f4f;
  font-family: $lato_bold;
  font-size: 32px;
  letter-spacing: 0.36px;
  line-height: 42px;
}
h2 {
	font-family: $lato_heavy;
font-size: 20px;
color: #343F4F;
letter-spacing: 0.5px;
}
h3{
	opacity: 0.8;
font-family: $lato_regular;
font-size: 13px;
color: #343F4F;
letter-spacing: 0.17px;
}


.main-btn {

  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  @include user-select(none);
  padding: 0 6px;
  font-family: $lato_bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: $white;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  z-index: 5;
  @include transition(0.4s);
  background-color: $theme-color;

  &:hover {
	background-color: transparent;
	border: 2px solid $theme-color;
    color: $theme-color;
  }
}
.button-round{

	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.08);
	border-radius: 50%;
  border: none;
  @include transition(0.3s);
	&:hover {
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
	  }
}
.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}


