.fixed-bottom {
  position: sticky;
  bottom: 0;
  height: 80px;
  background: $white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;

  box-shadow: 0px -4px 20px 0px rgba(0, 20, 0, 0.15);
  *overflow: hidden;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.footer-player {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  > .channel-image-footer {
    width: 80px;
    height: 80px;
    > span.status-online {
      &::before {
        display: block;
        content: attr(data-users);
        top: -4px;
        color: $white;
        font-size: 0.7rem;
        left: 64px;
        position: absolute;
        width: 32px;
        height: 20px;
        border-radius: 20px;
        border: solid 3px $white;
        background: $theme-color;
      }
    }
    > span.status-offline {
      &::before {
        display: block;
        right: -8px;
        top: -3px;
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: solid 3px $white;
        background: $red;
      }
    }
  }
  .channel-actions-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    height: 48px;
    width: 168px;
    margin-right: 48px;
  }
  .btn-footer {
    width: 48px;
    width: 48px;
    border-radius: 50%;
    border: solid 1px $text-color;
    background: $white;
  }
}
