.channels-list {
  border: none;
}
.channels-list__item {
  background: $white;
  height: 70px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 28px;
  @include transition(0.3s);
  &:hover {
    transform: translateY(-2px);
  }
  @include media-breakpoint-down(md) {
    height: fit-content;
    justify-content: flex-start;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 48px;
    height: 520px;
    flex-flow: column wrap;
    align-content: center;
  }
  & .channels-list__image {
    border-radius: 10px;
    position: relative;
    flex: none;
    top: -10px;
    align-self: center;
    @include media-breakpoint-up(lg) {
      width: 90px;
      height: 90px;
    }
    @include media-breakpoint-down(md) {
      width: 140px;
      height: 140px;
      max-width: 140px;
    }
    @include media-breakpoint-down(sm) {
      width: 280px;
      height: 280px;
      max-width: 280px;
      padding: 0;
    }
    > a > img.channel-img {
      border-radius: 10px;
      object-fit: cover;
      @include media-breakpoint-up(lg) {
        width: 90px;
        height: 90px;
      }
      @include media-breakpoint-down(md) {
        width: 140px;
        height: 140px;
      }
      @include media-breakpoint-down(sm) {
        width: 280px;
        height: 280px;
      }
    }
    > span.status-online {
      &::before {
        display: block;
        right: -8px;
        top: -3px;
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: solid 3px $white;
        background: $theme-color;
      }
    }
    > span.status-offline {
      &::before {
        display: block;
        right: -8px;
        top: -3px;
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: solid 3px $white;
        background: $red;
      }
    }
    > span.status-online,
    span.status-offline {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  & .channels-list__content {
    display: flex;
    max-width: 460px;
    min-width: 450px;
    height: 70px;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-flow: row wrap;
      max-width: 70%;
      min-width: 380px;
      align-self: center;
      padding: 8px 0;
    }
    @include media-breakpoint-down(sm) {
      flex-flow: row wrap;
      width: 280px;
      min-width: 280px;
      align-content: center;
      margin-bottom: 30px;
    }
    > .channels-list__info {
      margin-left: 32px;
      padding: 0;
      min-width: 0;
      @include media-breakpoint-down(md) {
        flex-basis: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
      > a > h5.channels-list__title {
        font-family: $lato_heavy;
        font-size: 20px;
        letter-spacing: 0.5px;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */
        margin: 0;
        @include media-breakpoint-down(md) {
          white-space: normal;
          overflow: visible;
        }
      }
      & .channels-list__type {
        opacity: 0.8;
        font-family: $lato_regular;
        color: #343f4f;
        letter-spacing: 0.17px;
      }
      & .status-on-mobile {
        display: none;
        @include media-breakpoint-down(sm) {
          display: block;
          margin-left: 12px;
          margin-top: 16px;
        }
        & > span.status-online {
          font-family: $lato_heavy;
          color: #1bd77a;
          letter-spacing: 0.27px;
          &::before {
            content: "";
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #1bd77a;
            right: 0.8rem;
            top: 14px;
          }
        }
        & > span.status-offline {
          color: $red;
          font-family: $lato_heavy;
          letter-spacing: 0.27px;
          &::before {
            content: "";
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $red;
            right: 0.8rem;
            top: 15px;
          }
        }
      }
    }
  }
  & .activity {
    display: flex;
    height: 70px;
    margin-left: 32px;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: center;

    > p.activity__header {
      opacity: 0.8;
      font-family: $lato_regular;
      font-size: 13px;
      color: #343f4f;
      letter-spacing: 0.17px;
      margin-bottom: 5px;
    }
    > p.activity__date {
      font-family: $lato_bold;
      font-size: 13px;
      color: #343f4f;
      letter-spacing: 0.17px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      height: 0;
      align-content: space-between;
    }
  }
  & .actions {
    display: flex;
    width: 168px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    @include media-breakpoint-down(md) {
      margin-left: 32px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      justify-content: space-between;
    }
    > button.button-round {
      width: 40px;
      height: 40px;
      z-index: 10;
      margin-left: 16px;
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }
    > .actions__share {
      &::before {
        content: url("/assets/img/icons/share.svg");
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        top: 7px;
        left: 4px;
        @include transition(0.3s);
      }
      &:hover {
        &::before {
          content: url("/assets/img/icons/share_green.svg");
        }
      }
    }
    > .actions__edit {
      &::before {
        content: url("/assets/img/icons/edit.svg");
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
        opacity: 0.7;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    > .actions__del {
      &::before {
        content: url("/assets/img/icons/del.svg");
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
        opacity: 0.7;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
