@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;

    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-content {
  background: #ffffff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
}

.modal-header {
  .close {
    margin-top: -1.5rem;
    & img {
      @include media-breakpoint-down(sm) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.modal-footer {
  border-top: none;
}

.form-title {
  margin: -2rem 0rem 2rem;
  font-family: $lato_heavy;
  & h4 {
    font-size: 32px;
    color: #1bd77a;
    line-height: 36px;
    > span {
      color: rgba($text-color, 0.5);
      text-transform: uppercase;
    }
    > span.modal-del {
      color: $red;
      text-transform: none;
    }
  }
}

.modal-label {
  opacity: 0.7;
  font-family: $lato_medium;
  font-size: 14px;
  color: #343f4f;
  letter-spacing: 0.5px;
  line-height: 16px;
}

.material-form-control {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  border-radius: 0;
  padding: 0;
}
.form-normal {
  color: #b3b3b3;
}
.form-big {
  color: $text-color;
  font-family: $lato_bold;
  font-size: 18px;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
}
.material-form-control:focus {
  border: none;
  border-bottom: 3px solid $theme-color;
}
.material-form-control__share {
  /*---- Показывать конопку SHARE только для смартфонов ----/*
/*     display: none;
    @include media-breakpoint-down(sm) {
        display: inherit;
    } */
  &::before {
    content: url("/assets/img/icons/share.svg");
    position: relative;
    display: block;
    width: calc(1.5em + 0.75rem + 2px);
    height: calc(1.5em + 0.75rem + 2px);
    top: 0.6rem;
    @include transition(0.3s);
  }
  &:hover {
    &::before {
      content: url("/assets/img/icons/share_green.svg");
    }
  }
}
.material-form-control__copy {
  &::before {
    content: url("/assets/img/icons/copy.svg");
    position: relative;
    display: block;
    width: calc(1.5em + 0.75rem + 2px);
    height: calc(1.5em + 0.75rem + 2px);
    top: 0.5rem;
    @include transition(0.3s);
  }
  &:hover {
    &::before {
      content: url("/assets/img/icons/copy_green.svg");
    }
  }
}
.action {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

.delimiter {
  padding: 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

.btn-modal {
  width: 256px;
  height: 50px;
  background-image: linear-gradient(28deg, #1bd77a 5%, #20f28a 100%);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.btn-modal:hover {
  background-image: none;
}
.btn-modal-del {
  width: 256px;
  height: 50px;
  background-image: none;
  background: $red;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}
.btn-modal-del:hover {
  background-image: none;
  border-color: $red;
  color: $red;
}

.modal-backdrop {
  background: #fff;
}

.modal-backdrop.show {
  opacity: 0.75;
}

div.switch-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.onoffswitch {
  margin: 0;
}
.switch-icon-basic {
  height: 46px;
  > div.icon-label {
    display: block;

    > p.icon-label__text {
      margin: 0;
      font-family: $lato_bold;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 16px;
    }
  }
}
.switch-icon-public {
  height: 46px;
  > div.icon-label {
    display: block;

    > p.icon-label__text {
      margin: 0;
      font-family: $lato_bold;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 16px;
      text-transform: uppercase;
      &::before {
        content: url("/assets/img/icons/globe-2.svg");
        position: relative;
        top: 0.2rem;
      }
    }
  }
}
.switch-icon-private {
  height: 46px;
  > div.icon-label {
    display: block;

    > p.icon-label__text {
      margin: 0;
      font-family: $lato_bold;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 16px;
      text-transform: uppercase;
      &::before {
        content: url("/assets/img/icons/lock-2.svg");
        position: relative;
        top: 0.2rem;
      }
    }
  }
}
.switch-dot {
  height: 36px;
  margin-left: 1.5rem;
  > div.dot-label {
    display: block;

    > p.dot-label__text {
      margin: 0;
      font-family: $lato_bold;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 16px;
      &::before {
        content: "\2022";
        position: relative;
      }
    }
  }
}

.switch-inactive {
  color: $text-color;
  opacity: 0.5;
}
.switch-active {
  color: $text-color;
  opacity: 1;
}

#upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
}

#upload-container img {
  width: 120px;
  user-select: none;
  @include transition(0.3s);
}

#upload-container img:hover {
  margin-top: -4px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

#upload-container label {
  font-weight: bold;
}

#upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#upload-container div {
  position: relative;
  z-index: 10;
}

#upload-container input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

#upload-container label.focus {
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}
