.bg-green {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 100%;
  background-color: $main-green;
  z-index: -9999;

  @include media-breakpoint-down(sm) {
    height: 96px;
  }
}
.navbar-brand {
  position: absolute;
  top: 45px;
}
.add-channel-mobile {
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 5%;
  width: 48px;
  height: 48px;
  @include transition(0.3s);
  &:hover {
    border-radius: 48px;
    opacity: 1;
    width: 160px;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    top: 28px;
  }
  & span.add-btn-mobile {
    display: block;
    height: 48px;
    @include transition(0.3s);

    &::before {
      content: url("/assets/img/icons/add-btn_green.svg");
      position: relative;
      color: transparent;
      top: 13px;
      @include transition(0.3s);
    }
    &:hover {
      &::before {
        content: "Новый канал";
        top: 12px;
        color: $theme-color;
        font-family: $lato_bold;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}
