.card-player {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 310px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 22px 0px rgba(50, 60, 50, 0.2);
  overflow: hidden;

  & .channel-img {
    flex-shrink: 1;
    flex-basis: 430px;
    height: 310px;
    justify-self: flex-start;

    & img {
      width: 100%; /* Ширина изображений */
      height: 100%;
      object-fit: cover;
    }
  }
  & .channel-info {
    max-width: 490px;
    width: calc(100% - 620px);
    background-color: $white;
    & .channel-info__title {
      margin-left: 32px;
      padding-top: 15px;
      & span {
        display: block;
        font-size: 13px;
        margin-left: 0.8rem;
      }
      & .status-online {
        font-family: $lato_heavy;
        color: #1bd77a;
        letter-spacing: 0.27px;
        &::before {
          content: "";
          position: relative;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #1bd77a;
          right: 0.8rem;
          top: 14px;
        }
      }
      & .status-offline {
        color: $red;
        font-family: $lato_heavy;
        letter-spacing: 0.27px;
        &::before {
          content: "";
          position: relative;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $red;
          top: 15px;
        }
      }
      & h1.title {
        margin-top: 5px;
        white-space: nowrap;
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */

        @include media-breakpoint-down(lg) {
          font-size: 24px;
        }
      }
    }
    &__stat {
      margin-left: 32px;
      display: flex;
      height: 200px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      @include media-breakpoint-down(md) {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 15%;
        margin-top: 28px;
      }
    }
    .stat {
      height: 30px;
      display: flex;
      flex-direction: row;
      > .stat__text {
        width: 74px;
      }
      > .stat__info {
        margin-left: 24px;
      }
      & p {
        font-family: $lato_medium;
        font-size: 12px;
        color: #343f4f;
        letter-spacing: 0.14px;
      }
      &__share {
        & .button__share {
          width: 40px;
          height: 40px;
          position: absolute;
          margin-top: -10px;
          &::before {
            content: url("/assets/img/icons/share.svg");
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            top: 7px;
            left: 4px;
          }
        }
        & .button__share:hover {
          &::before {
            content: url("/assets/img/icons/share_green.svg");
          }
        }
      }
      &__type {
        & .stat__info > span {
          margin-left: 32px;
          font-family: $lato_bold;
          font-size: 14px;
          color: #4a90e2;
          letter-spacing: 0.29px;
          text-transform: uppercase;
          &.public::before {
            content: url("/assets/img/icons/globe.svg");
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
          }
          &.privat::before {
            content: url("/assets/img/icons/lock.svg");
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
          }
        }
      }
      &__users {
        & .stat__info > span {
          color: #1bd77a;
          margin-left: 32px;
          font-family: $lato_bold;
          font-size: 14px;
          letter-spacing: 0.29px;
          text-transform: uppercase;
          &::before {
            content: url("/assets/img/icons/people.svg");
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            margin-top: 2px;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      order: 3;
      margin: 0;
      max-width: 690px;
      align-self: stretch;
      flex-basis: 100%;
    }
  }
  & .channel-control {
    flex-shrink: 1;
    flex-basis: 190px;
    justify-self: flex-end;
    background-color: $white;

    &__container {
      width: 136px;
      display: flex;
      justify-self: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 15px;
      align-items: center;
      height: 100%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      & .channel-control__status {
        font-family: $lato_heavy;
        font-size: 13px;
        color: #1bd77a;
        letter-spacing: 0.27px;
        text-align: center;
      }

      & .channel-control__microfone {
        height: 160px;
        & .mic_button {
          display: block;
          width: 80px;
          height: 80px;
          margin-top: 36px;
          border-radius: 50%;
          border: none;
          background-image: linear-gradient(20deg, #1bd77a 0%, #20f28a 100%);
          box-shadow: 0 0 0 14px #e4fbf4, 0 0 0 28px #f6fefc;
          outline: none;
          z-index: 2;
          @include transition(0.3s);
          &:disabled {
            background-image: #8a9eb8;
            box-shadow: 0 0 0 14px rgba($color: #8a9eb8, $alpha: 0.1),
              0 0 0 28px #f6fefc;
          }
          &::before {
            content: url("/assets/img/icons/mic.svg");
            position: relative;
            display: block;
            width: 20px;
            height: 32px;
            top: 0;
            left: 28px;
            z-index: 3;
          }
        }
        & .mic_button:hover {
          margin-top: 34px;
          box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
        }
        & .mic_button:focus {
          margin-top: 34px;
          background-image: none;
          background: $theme-color;
        }
        & .microfone__animation {
          position: absolute;
          z-index: 1;
          width: 80px;
          height: 80px;
          margin-top: -80px;
        }
      }

      & .channel-control__mute {
        height: 48px;
        & .mute_checkbox {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: $white;
          border: none;
          box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.2);
          outline: none;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          @include transition(0.3s);
          &::before {
            content: url("/assets/img/icons/mute.svg");
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            top: 13px;
            left: 11px;
          }
          &:hover {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
            opacity: 0.7;
          }
          &:checked {
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
            background-color: $red;
            opacity: 0.9;
            @include transition(0.3s);
            &::before {
              content: url("/assets/img/icons/mute-white.svg");
              position: relative;
              display: block;
              width: 30px;
              height: 30px;
              top: 13px;
              left: 11px;
            }
          }
        }
      }
      & .channel-control__volume {
        height: 40px;
        & .range-slider {
          margin: 0;
          &::before {
            content: url("/assets/img/icons/volume-minus.svg");
            position: relative;
            height: 2px;
            top: 2px;
            left: -14px;
            display: block;
          }
          &::after {
            content: url("/assets/img/icons/volume-plus.svg");
            position: relative;
            height: 6px;
            top: -22px;
            left: 104px;
            display: block;
          }
        }
        & .range-slider__range {
          width: 94px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      order: 2;
      flex-basis: 260px;
      height: 310px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 690px;
    height: 490px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

/*---- Кнопка с микрофоном ----*/
.waves-bg {
  border: 2px dashed $theme-color;
  *background-image: linear-gradient(20deg, #1bd77a 0%, #20f28a 100%);
}
.ripple {
  position: absolute;
  width: 140px;
  height: 140px;
  margin-top: -30px;
  margin-left: -30px;
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 2s infinite;
}

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ripple:nth-child(2) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.ripple:nth-child(3) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
