input.switch {
  height: 0;
  width: 0;
  display: none;
}
label.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #d3dfef;
  display: block;
  border-radius: 20px;
  position: relative;
}

label.switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 18px;
  transition: 0.3s;
}

input.switch:checked + label {
  background: #1bd77a;
}

input.switch:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label.switch:active:after {
  width: 24px;
}
