/* colors */
$dark: $text-color;

$accent: $theme-color;
$accent-inactive: desaturate($accent, 85%);

/* tab setting */
$tab-count: 3;
$indicator-width: 150px;
$indicator-height: 1px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 250px},
  small: #{$tab-count * 150px}
);

/* selectors relative to radio inputs */
$label-selector: "~ .tabs-container > .tabs-list > .tab-item";
$slider-selector: "~ .tabs-container > .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

.channels-tabs {
  position: relative;
  background: white;
  padding-bottom: 80px;
  margin-top: 64px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  @include media-breakpoint-down(md) {
    margin-top: 80px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 140px;
  }

  .content section .section-name,
  .tabs-list .tab-item label {
    font-family: $lato_bold;
    font-size: 15px;
    color: #343f4f;
    letter-spacing: 0.31px;
    text-align: center;
    text-transform: uppercase;
    color: $accent;
  }

  .tabs-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    .add-channel {
      width: 190px;
      height: 40px;
      margin-left: auto;
      padding: 0;
      box-shadow: 0px 5px 65px 0px rgba(0, 0, 0, 0.3);
      @include transition(0.3s);
      @include media-breakpoint-down(md) {
        display: none;
      }
      & .add-btn {
        display: block;
        width: 100%;
        &::before {
          content: url("/assets/img/icons/add-btn.svg");
          position: relative;
          top: 3px;
          left: -12px;
          @include transition(0.3s);
        }
        &:hover {
          &::before {
            content: url("/assets/img/icons/add-btn_green.svg");
          }
        }
      }
      &:hover {
        box-shadow: none;
      }
    }
    .tab-item {
      width: 190px;
      padding: 0 10px;
      text-align: center;
      @include media-breakpoint-down(md) {
        width: #{100% / $tab-count};
      }

      label {
        transition: all 0.3s ease-in-out;
        color: $text-color;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        @include user-select(none);

        br {
          display: none;
        }

        svg {
          fill: $text-color;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
          @include media-breakpoint-up(md) {
            display: none;
          }
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .slider {
    position: absolute;
    top: 34px;
    width: 190px;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    @include media-breakpoint-down(md) {
      width: #{100% / $tab-count};
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }
  }

  .content {
    margin-top: 30px;
    min-height: 480px;

    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;

      .section-name {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }

  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;

        svg {
          fill: $accent;
        }

        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    .tabs-list .tab-item label {
      white-space: initial;

      br {
        display: initial;
      }

      svg {
        height: 2.2em;
        display: inline-block;
      }
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    .tabs-list .tab-item label {
      padding: 5px;
      border-radius: 5px;

      span {
        display: none;
      }
      svg {
        height: 2.2em;
        display: inline-block;
      }
    }

    .slider {
      display: none;
    }

    .content {
      margin-top: 20px;
      section .section-name {
        display: block;
      }
    }
  }
}
