<footer class="fixed-bottom">
  <div class="footer-player">
    <div class="channel-image-footer">
      <img
        src="{{root}}assets/img/channels_pictures/channel_image-1@2x.png"
        class="channel-img"
        alt="Название карточки"
      />
      <span class="status-online" data-users="_12"></span>
    </div>
    <div class="channel-actions-footer">
      <button class="btn-footer btn-mute">
        <img src="{{root}}assets/img/icons/mute-fill.svg" alt="" />
      </button>
      <button class="btn-footer btn-voice">
        <img src="{{root}}assets/img/icons/mic-small.svg" alt="" />
      </button>
      <button class="btn-footer btn-share">
        <img src="{{root}}assets/img/icons/share-fill.svg" alt="" />
      </button>
    </div>
  </div>
</footer>
