<!-- СПИСОК КАНАЛОВ РЯДОМ -->
<div class="card channels-list">
  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/channels_pictures/channel_image-1@2x.png"
          class="channel-img"
          alt="Название карточки"
        />
      </a>
      <span class="status-online"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-online">Онлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Длинное название карточки в 40 символов
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Публичный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">Сегодня</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>

  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/channels_pictures/no-image@2x.png"
          class="channel-img"
          alt="Канал для дальнобойщиков"
        />
      </a>
      <span class="status-online"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-offline">Офлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Канал для дальнобойщиков
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Публичный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">Вчера</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>

  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/bird.jpg"
          class="channel-img"
          alt="Длинное название карточки, которое превышает 40 символов"
        />
      </a>
      <span class="status-offline"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-offline">Офлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Длинное название карточки, которое превышает 40 символов
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Приватный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">28.02.2020</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>
  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/channels_pictures/channel_image-1@2x.png"
          class="channel-img"
          alt="Название карточки"
        />
      </a>
      <span class="status-online"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-online">Онлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Длинное название карточки в 40 символов
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Публичный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">Сегодня</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>

  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/channels_pictures/no-image@2x.png"
          class="channel-img"
          alt="Канал для дальнобойщиков"
        />
      </a>
      <span class="status-online"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-offline">Офлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Канал для дальнобойщиков
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Публичный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">Вчера</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>

  <div class="channels-list__item no-gutters">
    <div class="col-md-2 channels-list__image">
      <a href="#">
        <img
          src="{{root}}assets/img/bird.jpg"
          class="channel-img"
          alt="Длинное название карточки, которое превышает 40 символов"
        />
      </a>
      <span class="status-offline"></span>
    </div>
    <div class="channels-list__content">
      <div class="card-body channels-list__info">
        <p class="status-on-mobile">
          <span class="status-offline">Офлайн</span>
        </p>
        <a href="#">
          <h5 class="card-title channels-list__title">
            Длинное название карточки, которое превышает 40 символов
          </h5>
        </a>
        <p class="card-text channels-list__type">
          <small class="text-muted">Приватный</small>
        </p>
      </div>
    </div>
    <div class="activity">
      <p class="card-text activity__header">Последняя активность</p>
      <p class="card-text activity__date">28.02.2020</p>
    </div>
    <div class="actions">
      <button
        class="button-round actions__share"
        data-toggle="modal"
        data-target="#shareModal"
      ></button>
      <button
        class="button-round actions__edit"
        data-toggle="modal"
        data-target="#editModal"
      ></button>
      <button
        class="button-round actions__del"
        data-toggle="modal"
        data-target="#delModal"
      ></button>
    </div>
  </div>
</div>
<!-- КОНЕЦ СПИСКА КАНАЛОВ РЯДОМ -->
