<!-- Модальное SHARE -->
<div class="modal fade" id="shareModal" role="dialog" aria-labelledby="ShareChannel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="{{root}}assets/img/icons/x-circle.svg" alt="close" /></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-left">
                    <h4>Поделиться <span class="modal-title">каналом</span></h4>
                </div>
                <div class="d-flex flex-column text-left">
                    <form>
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-9">
                                <label class="modal-label" for="channel-url">Сcылка на канал</label>
                                <input type="text" class="form-control material-form-control" id="channel-url"
                                aria-describedby="channel-link-url" placeholder="https://easytalk/channels/542655" readonly/>
                            </div>
                            <div class="col-sm-3 action">
                                    <button id="cp-channel-link" class="button-round material-form-control__copy" type="button"></button>
                                    <button id="share-channel-link" class="button-round material-form-control__share" type="button"></button>
                            </div>
                          </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center  mt-5 mb-3">
                    <img src="{{root}}assets/img/qr-code.png" alt="qr-code" />
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="main-btn btn-modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное CREATE -->
<div class="modal fade" id="createModal" role="dialog" aria-labelledby="CreateChannel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="{{root}}assets/img/icons/x-circle.svg" alt="close" /></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-left">
                    <h4>Создание <span class="modal-title">канала</span></h4>
                </div>
                <div class="d-flex flex-column text-left">
                    <form>
                        <label class="modal-label" for="channel-url">Название канала</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control material-form-control form-normal" id="channel-name"
                                aria-describedby="channel-name" placeholder="Имя канала" />
                        </div>
                        <div class="switch-input switch-icon-public">
                            <div class="icon-label">
                                <p class="icon-label__text switch-inactive">
                                    Публичный канал
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch0" /><label class="switch" for="switch0">Toggle</label>
                            </div>
                        </div>
                        <div class="switch-input switch-dot">
                            <div class="dot-label">
                                <p class="dot-label__text switch-inactive">
                                    Все могут вещать и слушать
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch1" /><label class="switch" for="switch1">Toggle</label>
                            </div>
                        </div>
                        <div class="switch-input switch-dot">
                            <div class="dot-label">
                                <p class="dot-label__text switch-inactive">
                                    Все могут только слушать
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch2" /><label class="switch" for="switch2">Toggle</label>
                            </div>
                        </div>
                        <hr>
                        <div class="switch-input switch-icon-private">
                            <div class="icon-label">
                                <p class="icon-label__text switch-active">
                                    Приватный канал
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch3" /><label class="switch" for="switch3">Toggle</label>
                            </div>
                        </div>
                        <p>Подключиться можно только по ссылке или QR-коду</p>
                        <hr>
                        <div class="switch-input switch-icon-bacic">
                            <div class="icon-label">
                                <p class="icon-label__text switch-active">
                                    Сформировать геокоординаты для канала
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch4" /><label class="switch" for="switch4">Toggle</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control material-form-control form-big" id="geo-point"
                                aria-describedby="geo-point" placeholder="47.2345, 52.1468" value="48.6454, 56.8323"/>
                        </div>
                        <div class="input-image">
                            <p>Изображение канала</p>
                            <div id="upload-container" class="d-flex justify-content-center  mt-5 mb-3">   
                                <div>
                                    <input id="file-input" type="file" name="file" multiple>
                                    <label for="file-input"><img id="upload-image" src="{{root}}assets/img/image-placeholder@2x.png"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="main-btn btn-modal">OK</button>
                <div class="d-flex justify-content-center  mt-5 mb-3">
                <p class="text-center text-muted">
                    Сразу после создания канала мы сформируем ссылку на канал, скопируем ее в буфер обмена и Вы сможете ей поделиться. В дальнейшем, Вы сможете поделиться ссылкой на канал из любого экрана приложения.
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное EDIT -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="EditChannel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="{{root}}assets/img/icons/x-circle.svg" alt="close" /></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-left">
                    <h4>Редактирование <span class="modal-title">канала</span></h4>
                </div>
                <div class="d-flex flex-column text-left">
                    <form>
                        <label class="modal-label" for="channel-url">Название канала</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control material-form-control form-normal" id="channel-name"
                                aria-describedby="channel-name" placeholder="Название канала" value="Канал для Сноубордистов" />
                        </div>
                        <div class="switch-input switch-icon-public">
                            <div class="icon-label">
                                <p class="icon-label__text switch-inactive">
                                    Публичный канал
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch5" /><label class="switch" for="switch5">Toggle</label>
                            </div>
                        </div>
                        <div class="switch-input switch-dot">
                            <div class="dot-label">
                                <p class="dot-label__text switch-inactive">
                                    Все могут вещать и слушать
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch6" /><label class="switch" for="switch6">Toggle</label>
                            </div>
                        </div>
                        <div class="switch-input switch-dot">
                            <div class="dot-label">
                                <p class="dot-label__text switch-inactive">
                                    Все могут только слушать
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch7" /><label class="switch" for="switch7">Toggle</label>
                            </div>
                        </div>
                        <hr>
                        <div class="switch-input switch-icon-private">
                            <div class="icon-label">
                                <p class="icon-label__text switch-active">
                                    Приватный канал
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch8" /><label class="switch" for="switch8">Toggle</label>
                            </div>
                        </div>
                        <p>Подключиться можно только по ссылке или QR-коду</p>
                        <hr>
                        <div class="switch-input switch-icon-bacic">
                            <div class="icon-label">
                                <p class="icon-label__text switch-active">
                                    Сформировать геокоординаты для канала
                                </p>
                            </div>
                            <div class="onoffswitch">
                                <input class="switch" type="checkbox" id="switch9" /><label class="switch" for="switch9">Toggle</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control material-form-control form-big"  placeholder="47.2345, 52.1468" value="48.6454, 56.8323"/>
                            <span><img src="{{root}}assets/img/icons/marker.svg" alt=""></span>    
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-9">
                                <label class="modal-label" for="channel-url">Сcылка на канал</label>
                                <input type="text" class="form-control material-form-control" id="channel-url"
                                aria-describedby="channel-link-url" placeholder="https://easytalk/channels/542655" readonly/>
                            </div>
                            <div class="col-sm-3 action">
                                    <button id="cp-channel-link" class="button-round material-form-control__copy" type="button"></button>
                                    <button id="share-channel-link" class="button-round material-form-control__share" type="button"></button>
                            </div>
                          </div>
                        <div class="input-image mt-2">
                            <p>Изображение канала</p>
                            <div id="upload-container" class="d-flex justify-content-center  mt-5 mb-3">   
                                <div>
                                    <input id="file-input" type="file" name="file" multiple>
                                    <label for="file-input"><img id="upload-image" src="{{root}}assets/img/bird.jpg"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="main-btn btn-modal">OK</button>
                <div class="d-flex justify-content-center  mt-5 mb-3">
                <p class="text-center text-muted">
                    Сразу после создания канала мы сформируем ссылку на канал, скопируем ее в буфер обмена и Вы сможете ей поделиться. В дальнейшем, Вы сможете поделиться ссылкой на канал из любого экрана приложения.
                </p>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное DEL -->
<div class="modal fade" id="delModal" role="dialog" aria-labelledby="DelChannel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="{{root}}assets/img/icons/x-circle.svg" alt="close" /></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-left">
                    <h4><span class="modal-del">Удаление</span> <span class="modal-title">канала</span></h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <p>
                        Вы действительно хотите удалить канал?
                    </p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="main-btn btn-modal-del">Удалить</button>
            </div>
        </div>
    </div>
</div>