<nav class="navbar bg-green">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{root}}assets/img/Logo.svg" alt="" />
    </a>

    <button
      class="button-round add-channel-mobile"
      data-toggle="modal"
      data-target="#createModal"
    >
      <span class="add-btn-mobile"></span>
    </button>
  </div>
</nav>
