<!-- TOP PLAYER START -->
<div class="card-player">
  <div class="channel-img">
    <img src="{{root}}assets/img/bird.jpg" alt="ChannelTitle" />
  </div>
  <div class="channel-info">
    <div class="channel-info__title">
      <span class="status-online">Онлайн</span>
      <h1 class="title">Третьяковская галерея</h1>
    </div>
    <div class="channel-info__stat">
      <div class="stat stat__users">
        <div class="stat__text">
          <p>Активных слушателей:</p>
        </div>
        <div class="stat__info">
          <span>2190</span>
        </div>
      </div>
      <div class="stat stat__type">
        <div class="stat__text">
          <p>Тип канала:</p>
        </div>
        <div class="stat__info">
          <span class="public">Публичный</span>
        </div>
      </div>
      <div class="stat stat__share">
        <div class="stat__text">
          <p>Поделиться:</p>
        </div>
        <div class="stat__info">
          <button class="button-round button__share" data-toggle="modal" data-target="#shareModal"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="channel-control">
    <div class="channel-control__container">
      <div class="channel-control__microfone">
        <span class="channel-control__status">Вы в эфире!</span>
        <button type="button" id="mic" class="mic_button"></button>
        <div class="microfone__animation">
          <span class="ripple waves-bg"></span>
          <span class="ripple waves-bg"></span>
          <span class="ripple waves-bg"></span>
        </div> 
      </div>
      <div class="channel-control__mute">
        <input type="checkbox" id="mute" name="mute" class="mute_checkbox"></input>
      </div>
      <div class="channel-control__volume">
        <div class="range-slider">
          <input class="range-slider__range" type="range" value="50" min="0" max="100" />
        </div>
      </div>

    </div>
  </div>
</div>
<!-- TOP PLAYER END -->