<!--====== tablist PART START ======-->
<div class="channels-tabs">
  <input type="radio" id="tab1" name="tab-control" checked />
  <input type="radio" id="tab2" name="tab-control" />
  <input type="radio" id="tab3" name="tab-control" />
  <div class="tabs-container">
    <ul class="tabs-list">
      <li class="tab-item" title="Near">
        <label for="tab1" role="button">
          <svg viewBox="0 0 24 24">
            <path
              d="M11.2292187,21.5964844 C5.55351559,13.3683984 4.49999996,12.5239453 4.49999996,9.49999995 C4.49999996,5.35785153 7.85785154,1.99999995 12,1.99999995 C16.1421485,1.99999995 19.5,5.35785153 19.5,9.49999995 C19.5,12.5239453 18.4464844,13.3683984 12.7707813,21.5964844 C12.3983203,22.1345313 11.6016406,22.1344922 11.2292187,21.5964844 Z M12,12.625 C13.7258984,12.625 15.125,11.2258984 15.125,9.49999999 C15.125,7.77410154 13.7258984,6.37499997 12,6.37499997 C10.2741016,6.37499997 8.87499998,7.77410154 8.87499998,9.49999999 C8.87499998,11.2258984 10.2741016,12.625 12,12.625 Z"
              id="path-1"
            ></path></svg
          ><br />
          <span>Рядом со мной</span>
        </label>
      </li>
      <li class="tab-item" title="MyChannels">
        <label for="tab2" role="button">
          <svg viewBox="0 0 24 24">
            <path
              d="M21.9999999,11.4444444 C21.9999999,10.6239583 21.5503473,9.91527777 20.8888889,9.53055554 L20.8888889,4.22256941 C20.8888889,3.91874996 20.6465278,3.11111107 19.7777778,3.11111107 C19.5305556,3.11111107 19.2850695,3.19374996 19.0840278,3.35486107 L16.1315972,5.71701386 C14.6486111,6.90243053 12.7868056,7.55555553 10.8888889,7.55555553 L4.22222218,7.55555553 C2.99479162,7.55555553 1.99999995,8.5503472 1.99999995,9.77777777 L1.99999995,13.1111111 C1.99999995,14.3385417 2.99479162,15.3333334 4.22222218,15.3333334 L5.39236108,15.3333334 C5.34409719,15.6972222 5.31666663,16.0673611 5.31666663,16.4444445 C5.31666663,17.8253473 5.63819441,19.1302084 6.20416664,20.2965278 C6.38437497,20.6677084 6.77777775,20.8888889 7.19027775,20.8888889 L9.76944443,20.8888889 C10.6739583,20.8888889 11.2170139,19.8527778 10.66875,19.1333334 C10.0993055,18.3861111 9.76076388,17.4541667 9.76076388,16.4444445 C9.76076388,16.0586806 9.81701388,15.6878472 9.91388888,15.3333334 L10.8888889,15.3333334 C12.7868056,15.3333334 14.6486111,15.9864584 16.13125,17.171875 L19.0836806,19.5340278 C19.280595,19.6916042 19.5252292,19.7775567 19.7774306,19.7777778 C20.6427084,19.7777778 20.8885417,18.9868056 20.8885417,18.6666667 L20.8885417,13.3586806 C21.5503473,12.9736111 21.9999999,12.2649306 21.9999999,11.4444444 Z M18.6666667,16.3548611 L17.5190972,15.4368056 C15.6440972,13.9368056 13.2888889,13.1111111 10.8888889,13.1111111 L10.8888889,9.77777777 C13.2888889,9.77777777 15.6440972,8.95208332 17.5190972,7.45208331 L18.6666667,6.53402775 L18.6666667,16.3548611 Z"
              id="path-2"
            ></path></svg
          ><br />
          <span>Мои каналы</span>
        </label>
      </li>
      <li class="tab-item" title="Latest">
        <label for="tab3" role="button">
          <svg viewBox="0 0 24 24">
            <path
              d="M12,2.31249995 C6.64843747,2.31249995 2.31249995,6.64843747 2.31249995,12 C2.31249995,17.3515625 6.64843747,21.6875 12,21.6875 C17.3515625,21.6875 21.6875,17.3515625 21.6875,12 C21.6875,6.64843747 17.3515625,2.31249995 12,2.31249995 Z M14.2304688,15.9882813 L10.7851562,13.484375 C10.6640625,13.3945313 10.59375,13.2539063 10.59375,13.1054688 L10.59375,6.53124997 C10.59375,6.27343747 10.8046875,6.06249997 11.0625,6.06249997 L12.9375,6.06249997 C13.1953125,6.06249997 13.40625,6.27343747 13.40625,6.53124997 L13.40625,11.9101562 L15.8867188,13.7148438 C16.0976563,13.8671875 16.140625,14.1601563 15.9882813,14.3710938 L14.8867188,15.8867188 C14.734375,16.09375 14.4414063,16.140625 14.2304688,15.9882813 Z"
              id="path-1"
            ></path></svg
          ><br />
          <span>Последние</span>
        </label>
      </li>

      <button
        class="main-btn add-channel"
        data-toggle="modal"
        data-target="#createModal"
      >
        <span class="add-btn">Новый канал</span>
      </button>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
  </div>

  <div class="content">
    <section>
      <h2 class="section-name">Рядом со мной</h2>
      {{>list}}
    </section>
    <section>
      <h2 class="section-name">Мои каналы</h2>
      {{>list-mychannels}}
    </section>
    <section>
      <h2 class="section-name">Последние</h2>
      {{>list-last}}
    </section>
  </div>
</div>
<!--====== tablist PART END ======-->
